h1{
border: #f00 dashed 5px;
margin: 30px 0px;
padding: 30px;
}

#bag{
color: brown;
}

footer{
background-color: #555;
color: #ffff;
padding: 20px;
}

.produto-item{
font-weight: bold;
}

.Subtotal{
font-weight: bold;
}